In [1]:
a ={'korea':'seoul', 'canada':'ottawa', 'use':'washington'}
print(type(a))

<class 'dict'>

In [5]:
print(a['korea'], a['canada'])

seoul ottawa

In [7]:
b = {100:1, 99:2, 88:3, 1:20, 2:30}
print(b[100], b[1])

1 20

In [14]:
a['japen'] = 'tokyo'
a['korea'] = 'cheongju'
print(a)

{'korea': 'cheongju', 'canada': 'ottawa', 'use': 'washington', 'japen': 'tokyo'}

In [40]:
a = {'a' : 1, 'b':2, 'c':3}
b = {'a':2, 'd':4, 'e':5, 'f':6}
print(a)
print(b)
a.update(b)
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 2, 'd': 4, 'e': 5, 'f': 6}
{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [42]:
del a['b']
print(a)

{'a': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [44]:
c = 'b' in a # b 가 없기 때문에 아무것도 안나옴
print(c)

False

In [46]:
a.keys(), a.values()

(dict_keys(['a', 'c', 'd', 'e', 'f']), dict_values([2, 3, 4, 5, 6]))

In [56]:
b = list(a.keys()) # 더 깔끔해짐
c = list(a.values())
print(b, c, type(b), type(c))

['a', 'b', 'c'] [1, 2, 3] <class 'list'> <class 'list'>

In [58]:
a = {'a':1, 'b':2, 'c':3}
print(a.get('d'))
print(a)

None
{'a': 1, 'b': 2, 'c': 3}

In [36]:
a.clear()
print(a)

{}

## **IF**

In [65]:
a, b, c = 10, 20, 30
if(a == 10 and b == 20) or c == 100:
    print('1번조건은 참이다.')
else:
    print('1번조건은 거짓이다.')

if a!=10:
    print('2번조건이 참이다.')
else:
    print('2번조건이 거짓이다.')

1번조건은 참이다.
2번조건이 거짓이다.

In [69]:
if not a == 20: # c언어로 표현시 if(!(a==20))
    print('3번조건이 참이다.')

3번조건이 참이다.

In [71]:
data = [0, 1, 2, 3, 4, 5, 6, 7]
for a in data: #드래그 후 tab을 누르면 전부 띄워진다.
    if a%4 == 0:
        print('{}는 나머지가 0이다.'.format(a))
    elif a%4 == 1:
        print('{}는 나머지가 1이다.'.format(a))
    elif a%4 == 2:
        print('{}는 나머지가 2이다.'.format(a))
    else:
        print('{}는 나머지가 3이다.'.format(a))

0는 나머지가 0이다.
1는 나머지가 1이다.
2는 나머지가 2이다.
3는 나머지가 3이다.
4는 나머지가 0이다.
5는 나머지가 1이다.
6는 나머지가 2이다.
7는 나머지가 3이다.

## **while문**

In [74]:
a = [1, 10, 20, 100]
i = 0
while i<len(a):
    print('value = ', a[i], 'index = ', i)
    i+=1 # c언어 처럼 i++는 작동하지 않는다.
print('end')

value =  1 index =  0
value =  10 index =  1
value =  20 index =  2
value =  100 index =  3
end

## **for 문**

In [77]:
a = [1, 10, 20, 100]
for x in a:
    print(x, x*2)

1 2
10 20
20 40
100 200

In [85]:
a = 'hello world'
for c in a:
    print(c)

h
e
l
l
o

w
o
r
l
d

In [87]:
a ={'korea':'seoul', 'canada':'ottawa', 'japan':'tokyo'}
for key in a:
    print(key, a[key])

korea seoul
canada ottawa
japan tokyo

In [89]:
a ={'korea':'seoul', 'canada':'ottawa', 'japan':'tokyo'}
for x in a.values():
    print(x)

seoul
ottawa
tokyo

In [93]:
a ={'korea':'seoul', 'canada':'ottawa', 'usa':'washington'}
b = list(a.items())
print(type(b))
print(b)

<class 'list'>
[('korea', 'seoul'), ('canada', 'ottawa'), ('usa', 'washington')]

In [97]:
print(b[1], len(b)) # b[0]이 korea임

('canada', 'ottawa') 3

In [99]:
for x, y in b:
    print(x, y)

korea seoul
canada ottawa
usa washington

In [103]:
for z in b:
    print(z, type(z))

('korea', 'seoul') <class 'tuple'>
('canada', 'ottawa') <class 'tuple'>
('usa', 'washington') <class 'tuple'>

In [105]:
a = [10, 20, 30, 40]
for x, y in enumerate(a):
    print(x, y)

0 10
1 20
2 30
3 40

In [109]:
a = [10, 20, 30, 40]
for z in enumerate(a):
    print(z, z[0], z[1])

(0, 10) 0 10
(1, 20) 1 20
(2, 30) 2 30
(3, 40) 3 40

In [113]:
c = 10, 20
print(c, type(c))

(10, 20) <class 'tuple'>

In [115]:
a = [10, 20, 30, 40, 50, 60, 70]
for value in a:
    if value > 30:
        break
    print(value)

10
20
30

In [125]:
a = [10, 20, 30, 40, 50, 60, 70]
for value in a:
    if value > 30 and value < 70:
        continue
    print(value)

10
20
30
70

In [129]:
a = [2, 3, 4, 5, 6, 7, 8, 9] # 구구단
b = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in a:
    for j in b:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81